*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Segoe UI;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
}

.center {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
  display: grid;
  /* grid-template-areas: "A A"; */
  grid-template-columns: 65.902367% 31.730769%;
}

.header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
  height: 112px;
  padding: 16px 3px 40px 24px;
  background: var(--system-violet, #6725a8);
}

.catalog-name {
  display: flex;
  align-items: center;
  gap: 16px;
}

.name {
  width: 107px;
  height: 48px;
  margin-bottom: 4px;
  color: var(--system-white, #fff);
  font-size: 28px;
  font-weight: 600;
  line-height: 24px; /* 85.714% */
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
}

.search {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  /* width:70.6% */
}

.search-inp {
  width: 95.5%;
  padding: 16px 0px 16px 18px;
  border: none;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-inp::placeholder {
  color: var(--system-white, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.search-btn {
  /*     top: 10px;
    right: 20px;
    position: absolute; */
  padding-top: 3px;
  padding-right: 20px;
  border: none;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-right: 17px;
}

.profile {
  width: 56px;
  height: 56px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: fit-content;
  padding-bottom: 5px;
  padding-left: 15px;
}

.caption {
  color: var(--system-white, #fff);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  padding-bottom: 2px;
}

.cart {
  position: relative;
  width: 56px;
  height: 56px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-cart {
  width: fit-content;
  padding-bottom: 7px;
  padding-right: 12px;
}

.cart::after {
  position: absolute;
  content: "3";
  height: 16px;
  width: 16px;
  border-radius: 100%;

  top: -3px;
  right: 7px;
  background-color: #f55123;
  z-index: 10000;

  color: var(--system-white, #fff);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px; /* 180% */
}

.bg {
  position: relative;
  padding: 10px 24px;
  background-color: #f6f6fa;
  width: 100%;
  height: inherit;

  /* position: absolute;
  top: 88px;
  border-radius: 24px; */
}

.bg::before {
  content: "";
  width: 100%;
  height: 24px;
  position: absolute;
  top: -24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: #f6f6fa;
}

.bg::after {
  content: "";
  width: 100%;
  height: 24px;
  position: absolute;
  bottom: -24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #f6f6fa;
  z-index: 10;
}

main {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;
}

.total {
  display: flex;
  flex-flow: column wrap;
  padding: 24px;
  padding-top: 16px;
  gap: 12px;
  height: fit-content;
  position: sticky;
  top: 16px;

  margin-top: -12px;
  border: none;
  border-radius: 16px;
  background: var(--background-white, #fff);

  /* Тени/Итого, Выпадающие списки */
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.total-order-registration {
  display: flex;
  flex-flow: column wrap;
  gap: 24px;
}

.total-price {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.total-price-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.total-price-title h2 {
  color: var(--text-black, #000);

  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
}

.total-price-title span {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.total-ul {
  display: flex;
  flex-flow: column wrap;
}

.total-li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 2px;
}

.total-delivery {
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
}

.total-delivery-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 4px;
}

.total-delivery-title h3 {
  color: var(--text-black, #000);

  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.total-delivery-address {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.total-delivery-date {
  color: var(--system-magenta, #cb11ab);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  text-decoration: underline dashed;
  cursor: pointer;
}

.total-delivery-return {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  padding: 8px;
  padding-bottom: 12px;
  margin-top: 9px;
  border-radius: 8px;
  background: var(--background-smoky, #f6f6fa);
}

.total-delivery-return p {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.mark-green {
  color: var(--system-green, #0cb477);
  text-decoration: underline dashed;
}

.total-payment {
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
}

.total-payment-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1px;
}

.total-payment-title h3 {
  color: var(--text-black, #000);

  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.total-payment-method {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  margin-top: 3px;
}

.icon-method {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  padding-right: 1px;

  border: none;
  border-radius: 4px;
  background: var(--background-smoky, #f6f6fa);
}

.total-payment-method p {
  width: 113px;
  color: var(--text-black, #000);
  text-align: right;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.total-payment-time {
  display: flex;
  flex-flow: column wrap;

  gap: 8px;
  padding: 8px;
  padding-bottom: 12px;
  margin-top: 12px;
  border-radius: 8px;
  background: var(--background-smoky, #f6f6fa);
}

.total-payment-time .checkbox {
  margin-bottom: 2px;
}

.total-payment-time .checkbox-label {
  padding-top: 3px;
  padding-left: 31px;
}

.total-payment-time .checkbox-label,
p {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.order {
  color: var(--system-white, #fff);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */

  border: none;
  border-radius: 8px;
  background: var(--system-magenta, #cb11ab);
  cursor: pointer;
}

.agreement {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  position: relative;
}

.agreement input {
  margin-top: 5px;
  align-self: self-start;
}

.agreement label,
a {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.rules {
  text-decoration: underline solid rgba(0, 0, 0, 0.1);
}

.returns {
  text-decoration: underline solid rgba(0, 0, 0, 0.1);
}

.agree:checked ~ .agree-text::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;

  width: 13px;
  height: 24px;
  border: none;

  background: url(/img/icons/checkbox-agreement.svg) no-repeat;
  background-color: #fff;
}

.cart-container {
  display: flex;
  flex-flow: column wrap;
  gap: 27px;
  /* width: 891px 100%; */
}

.cart-title {
  color: var(--text-black, #000);

  /* Сайт/H1 */
  font-size: 28px;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.28px;
}

.details-container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
}

label.all {
  padding-left: 33px;
}

.in-stock,
.out-of-stock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.check-underline {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -16px;
}

.checkbox-details-container {
  width: 100%;
  display: flex;
}

.items {
  padding-top: 2px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.item-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  padding-top: 12px;
}

.item-checkbox-img {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}

.item-left .checkbox {
  margin-top: -22px;
  align-self: center;
}

.item-img {
  margin-right: 16px;
}

.item-left-content {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
  padding-bottom: 4px;
}

.big-content {
  padding-bottom: 0;
}

.name-item {
  width: 275px;
  color: var(--text-black, #000);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.description {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */

  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}

.holders {
  color: var(--system-gray, #9797af);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.company {
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  height: 16px;
}

.info {
  /* padding-left: 5px; */
  cursor: pointer;
}

/* .info::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url(/img/icons/info.svg) no-repeat;

  position: absolute;
  z-index: 5;
  top: -2px;
  right: 100px;
} */

.item-right {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  padding-top: 9px;
}

.item-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
  padding-top: 3px;
}

.item-btn-quantity {
  display: flex;
  flex-flow: row nowrap;
  /* align-items: center;
  justify-content: center; */
  width: 100px;
  height: 44px;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 4px;
  padding-right: 3px;
  padding-bottom: 10px;
}

.minus-btn,
.plus-btn {
  width: 24px;
  height: 24px;

  padding: 2px 7px 6px 8px;
}

.minus,
.plus {
  color: var(--text-black, #000);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;

  width: 9px;
  height: 16px;
}

.counter {
  color: var(--text-black, #000);
  text-align: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 23px;
  padding-left: 0.5px;
  padding-right: 0.5px;
  /* padding-left: 18.205px;
  padding-right: 18.205px; */
}

.stock-counter {
  width: 100px;
  color: var(--dark-system-coral, #ff3b30);

  text-align: start;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.item-btn-couple {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 20px;
}

.wish,
.remove {
  height: 20px;
}

.item-price {
  display: flex;
  flex-flow: column wrap;
  align-items: end;
  gap: 5px;
  padding-left: 40px;
}

.big-price {
  padding-left: 6.9px;
}

.price {
  display: flex;
  flex-flow: row nowrap;
}

.value {
  color: var(--text-black, #000);
  text-align: right;

  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.2px;
}

.big-num {
  font-size: 16px;
}

.currency {
  padding-top: 3px;
  padding-bottom: 1px;
  width: 35px;
  height: 24px;
  color: var(--text-black, #000);
  text-align: right;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.price-old {
  position: relative;
  color: var(--system-gray, #9797af);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */

  text-decoration: underline dashed;
}

.price-old::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 55px;
  height: 1px;
  background-color: #9797af;
}

.item.oos {
  gap: 312px;
  justify-content: start;
}

.big-item {
  padding-top: 11px;
}

.oos-title {
  color: var(--text-black, #000);

  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.check-underline.oos {
  bottom: -18px;
}

.checkbox-details {
  margin-top: 1px;
}

.checkbox-details-container.oos {
  top: 42px;
}

.name-item.oos {
  width: 309px;
  color: var(--system-gray, #9797af);
}

.description.oos {
  color: var(--system-gray, #9797af);
}

.order-registration {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.delivery,
.payment,
.recipient {
  border-radius: 16px;
  background: var(--background-white, #fff);

  padding: 24px;
  padding-top: 16px;

  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.delivery-title,
.payment-title,
.recipient-title {
  color: var(--text-black, #000);

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
}

.delivery-description {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.delivery-address,
.delivery-price,
.delivery-date {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
}

.delivery-address-subtitle,
.delivery-price-subtitle,
.delivery-date-subtitle {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  width: 153px;
}

.delivery-address-content {
  display: flex;
  flex-flow: column wrap;
  gap: 4px;

  color: var(--text-black, #000);
  font-weight: 400;
}

.delivery-point {
  font-size: 16px;
  line-height: 24px; /* 150% */
}

.delivery-info {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;

  font-size: 13px;
  line-height: 16px; /* 123.077% */
}

.delivery-price-content {
  color: var(--text-black, #000);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.delivery-date-content {
  display: flex;
  gap: 8px;
}

.delivery-date-content span {
  height: 56px;
}

.delivery-item {
  height: 56px;
  width: 40px;
}

.counter-mark {
  position: relative;
}

.counter-mark::after {
  position: absolute;
  content: "100";
  padding: 1px 4px 0px 4px;
  width: fit-content;

  color: var(--text-white, #fff);
  text-align: center;
  font-family: Segoe UI;
  font-size: 10px;
  font-weight: 600;
  line-height: 18px; /* 180% */

  top: -8px;
  right: -4px;
  border-radius: 16px;
  background: var(--system-orange, #f55123);
}

.delivery-return {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
}

.payment-description {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.payment-method {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}

.payment-method p {
  color: var(--text-black, #000);
  font-size: 16px;
  line-height: 24px; /* 150% */
  padding-right: 4px;
}

.payment-icon {
  border-radius: 4px;
  background: var(--background-smoky, #f6f6fa);
}

.payment-time {
  color: var(--system-gray, #9797af);

  font-size: 13px;
  line-height: 16px; /* 123.077% */
}

.recipient {
  margin-bottom: 28px;
}

.recipient-form {
  display: flex;
  flex-flow: column wrap;
  padding-top: 4px;
}

.recipient-name,
.recipient-contacts {
  display: grid;
  gap: 24px;
  width: 700px;
}

.recipient-name {
  grid-template-columns: repeat(2, calc(50% - 24px / 2));
}

.recipient-contacts {
  grid-template-columns: repeat(3, calc(33% - 41px / 3));
  padding-top: 7px;
}

footer.center {
  padding: 24px;
  padding-top: 48px;
  background: var(--system-violet, #6725a8);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.credits {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 13px;
  line-height: 16px; /* 123.077% */
}

/* Checkbox */

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
}

.checkbox-label {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-left: 34px;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #00000033;
  background-color: inherit;
  border-radius: 6px;

  position: absolute;
  top: 1px;
  left: 0;
  z-index: 1;

  transition: 0.1s ease-in-out;
}

.checkbox-label::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;

  background: url(/img/icons/checkbox.svg) no-repeat;
  background-position: center;
  border: none;
  border-radius: 6px;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity 0.1s ease-out;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: #cb11ab;
  border: none;
  width: 22px;
  height: 22px;
}

.checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
}

/* Radios */

.radio {
  position: relative;
}

.radio-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
}

.radio-label {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-left: 28px;
  cursor: pointer;
}

.radio-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;

  border: 1px solid #00000033;
  background-color: #fff;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: 0.1s ease-in-out;
}

/* .radio-label::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;

  background-color: #fff;
  background-position: center;
  border: none;
  border-radius: 100%;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity 0.1s ease-out;
} */

.radio-input:checked + .radio-label::before {
  border: 5px solid #cb11ab;
}

/* Checkbox-Details */

.checkbox-details {
  display: flex;
}

.checkbox-details-input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.checkbox-details-label {
  display: block;
  width: 20px;
  height: 20px;

  background: url(/img/icons/icon-details.svg) 0 0 no-repeat;
  transition: 0.2s ease-in-out;

  cursor: pointer;
}

.checkbox-details-input:checked + .checkbox-details-label {
  transform: rotate(180deg);
}

.checkbox-details-container {
  display: none;
  position: absolute;
  left: 0;
  top: 38px;
}

.checkbox-details-input:checked ~ .checkbox-details-container {
  display: block;
}

/* Input text */

/* input[type="text"],
[type="email"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: none;
  background: none;

  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 16px;
  margin-bottom: 16px;
} */

/* input[type="text"]::placeholder,
[type="email"]::placeholder {
  position: absolute;
  top: -5px;
} */

.input {
  position: relative;
  padding-top: 16px;
  margin-bottom: 16px;
}

.input-text {
  display: block;
  margin: 0;
  width: 100%;
  color: var(--text-black, #000);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input-text::placeholder {
  color: #9797af;
}

.input-label {
  display: block;
  position: absolute;
  bottom: 24px;
  left: 0;
  color: var(--system-gray, #9797af);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0;
  transform: translate3d(0, var(--labelDefaultPosY), 0) scale(1);
  transform-origin: 0 0;
  transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF),
    transform var(--inputTransitionDuration) var(--inputTransitionTF),
    visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
    z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
}

.input-text:placeholder-shown + .input-label {
  visibility: hidden;
  z-index: -1;
}

.input-text:not(:placeholder-shown) + .input-label,
.input-text:focus:not(:placeholder-shown) + .input-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translate3d(0, var(--labelTransformedPosY), 0)
    scale(var(--labelScaleFactor));
  transition: transform var(--inputTransitionDuration), visibility 0ms,
    z-index 0ms;
}

input[type="text"]:focus,
input[type="search"]:focus {
  outline: none;
}
