*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Segoe UI;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
}

.center {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}

.header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
  height: 112px;
  padding: 16px 3px 40px 24px;
  background: var(--system-violet, #6725a8);
}

.catalog-name {
  display: flex;
  align-items: center;
  gap: 16px;
}

.name {
  width: 107px;
  height: 48px;
  margin-bottom: 4px;
  color: var(--system-white, #fff);
  font-size: 28px;
  font-weight: 600;
  line-height: 24px; /* 85.714% */
  font-variant: all-small-caps;
  letter-spacing: 0.56px;
}

.search {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  /* width:70.6% */
}

.search-inp {
  width: 95.5%;
  padding: 16px 0px 16px 18px;
  border: none;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-inp::placeholder {
  color: var(--system-white, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.search-btn {
  /*     top: 10px;
    right: 20px;
    position: absolute; */
  padding-top: 3px;
  padding-right: 20px;
  border: none;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-right: 17px;
}

.profile {
  width: 56px;
  height: 56px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: fit-content;
  padding-bottom: 5px;
  padding-left: 15px;
}

.caption {
  color: var(--system-white, #fff);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  padding-bottom: 2px;
}

.cart {
  position: relative;
  width: 56px;
  height: 56px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-cart {
  width: fit-content;
  padding-bottom: 7px;
  padding-right: 12px;
}

.cart::after {
  position: absolute;
  content: "3";
  height: 16px;
  width: 16px;
  border-radius: 100%;

  top: -3px;
  right: 7px;
  background-color: #f55123;
  z-index: 10000;

  color: var(--system-white, #fff);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px; /* 180% */
}

.bg {
  position: absolute;
  padding: +24px;
  background-color: #f6f6fa;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  top: 88px;
}

main {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;
}

.total {
  display: flex;
  flex-flow: column wrap;
  padding: 24px;
  padding-top: 16px;
  gap: 12px;
  height: fit-content;

  border: none;
  border-radius: 16px;
  background: var(--background-white, #fff);

  /* Тени/Итого, Выпадающие списки */
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.total-order-registration {
  display: flex;
  flex-flow: column wrap;
  gap: 24px;
}

.total-price {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.total-price-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.total-price-title h2 {
  color: var(--text-black, #000);

  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.24px;
}

.total-price-title span {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.total-ul {
  display: flex;
  flex-flow: column wrap;
}

.total-li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.total-delivery {
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
}

.total-delivery-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.total-delivery-title h3 {
  color: var(--text-black, #000);

  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.total-delivery-address {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.total-delivery-date {
  color: var(--system-magenta, #cb11ab);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  text-decoration: underline dashed;
  cursor: pointer;
}

.total-delivery-return {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  padding: 8px;
  padding-bottom: 12px;
  margin-top: 8px;
  border-radius: 8px;
  background: var(--background-smoky, #f6f6fa);
}

.total-delivery-return p {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.mark-green {
  color: var(--system-green, #0cb477);
  text-decoration: underline dashed;
}

.total-payment {
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
}

.total-payment-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.total-payment-title h3 {
  color: var(--text-black, #000);

  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.total-payment-method {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.icon-method {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  padding-right: 1px;

  border: none;
  border-radius: 4px;
  background: var(--background-smoky, #f6f6fa);
}

.total-payment-method p {
  width: 113px;
  color: var(--text-black, #000);
  text-align: right;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.total-payment-time {
  display: flex;
  flex-flow: column wrap;

  gap: 8px;
  padding: 8px;
  padding-bottom: 12px;
  margin-top: 8px;
  border-radius: 8px;
  background: var(--background-smoky, #f6f6fa);
}

.total-payment-time .checkbox-label {
  padding-top: 3px;
}

.total-payment-time .checkbox-label,
p {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.order {
  color: var(--system-white, #fff);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */

  border: none;
  border-radius: 8px;
  background: var(--system-magenta, #cb11ab);
  cursor: pointer;
}

.agreement {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  position: relative;
}

.agreement input {
  margin-top: 5px;
  align-self: self-start;
}

.agreement label,
a {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.rules {
  text-decoration: underline solid rgba(0, 0, 0, 0.1);
}

.returns {
  text-decoration: underline solid rgba(0, 0, 0, 0.1);
}

.agree:checked ~ .agree-text::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0px;

  width: 13px;
  height: 24px;
  border: none;

  background: url(/img/icons/checkbox-agreement.svg) no-repeat;
  background-color: #fff;
}

.cart-container {
  display: flex;
  flex-flow: column wrap;
  gap: 27px;
  width: 891px /* 100%*/;
}

.cart-title {
  color: var(--text-black, #000);

  /* Сайт/H1 */
  font-size: 28px;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.28px;
  padding-top: 11px;
}

.details-container {
  position: relative;
}

.in-stock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.check-underline {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -16px;
}

.items {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  width: 100%;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 9px;
  width: 100%;
}

.item-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
}

.item-left .checkbox {
  margin-top: 40px;
}

.item-img {
  margin-right: 16px;
}

.item-left-content {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.name-item {
  width: 275px;
  color: var(--text-black, #000);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.description {
  color: var(--text-black, #000);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */

  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}

.holders {
  color: var(--system-gray, #9797af);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info {
  position: relative;
}

.info::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url(/img/icons/info.svg) no-repeat;

  position: absolute;
  z-index: 5;
  top: -2px;
  right: 70px;
}

.item-right {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}

.item-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}

.item-btn-quantity {
  display: flex;
  flex-flow: row nowrap;
  /* align-items: center;
  justify-content: center; */
  width: 100px;
  height: 44px;
  border-radius: 8px;
  background-color: #fff;
}

.minus,
.plus {
  color: var(--text-black, #000);
  text-align: center;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;

  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
}

.counter {
  color: var(--text-black, #000);
  text-align: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 18.205px;
  padding-right: 18.205px;
}

.stock-counter {
  color: var(--dark-system-coral, #ff3b30);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.item-btn-couple {
  display: flex;
  align-items: center;
  gap: 16px;
}

.item-price {
  display: flex;
  flex-flow: column wrap;
  align-items: end;
  gap: 5px;
  padding-left: 40px;
}

.price {
  display: flex;
  flex-flow: row nowrap;
}

.value {
  color: var(--text-black, #000);
  text-align: right;

  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.2px;
}

.big-num {
  font-size: 16px;
}

.currency {
  padding-top: 3px;
  padding-bottom: 1px;
  width: 35px;
  height: 24px;
  color: var(--text-black, #000);
  text-align: right;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.price-old {
  position: relative;
  color: var(--system-gray, #9797af);

  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */

  text-decoration: underline dashed;
}

.price-old::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 55px;
  height: 1px;
  background-color: #9797af;
}

/* Checkbox */

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
}

.checkbox-label {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-left: 34px;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #00000033;
  background-color: inherit;
  border-radius: 6px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: 0.1s ease-in-out;
}

.checkbox-label::after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;

  background: url(/img/icons/checkbox.svg) no-repeat;
  background-position: center;
  border: none;
  border-radius: 6px;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity 0.1s ease-out;
}

.checkbox-input:checked + .checkbox-label::before {
  background-color: #cb11ab;
  border: none;
  width: 22px;
  height: 22px;
}

.checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
}

/* Radios */

.radio {
  position: relative;
}

.radio-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
}

.radio-label {
  color: var(--text-black, #000);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-left: 28px;
  cursor: pointer;
}

.radio-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;

  border: 1px solid #00000033;
  background-color: #fff;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: 0.1s ease-in-out;
}

/* .radio-label::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;

  background-color: #fff;
  background-position: center;
  border: none;
  border-radius: 100%;
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity 0.1s ease-out;
} */

.radio-input:checked + .radio-label::before {
  border: 5px solid #cb11ab;
}

/* Checkbox-Details */

.checkbox-details {
  display: flex;
}

.checkbox-details-input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.checkbox-details-label {
  display: block;
  width: 20px;
  height: 20px;

  background: url(/img/icons/icon-details.svg) 0 0 no-repeat;
  transition: 0.2s ease-in-out;

  cursor: pointer;
}

.checkbox-details-input:checked + .checkbox-details-label {
  transform: rotate(180deg);
}

.checkbox-details-container {
  display: none;
  position: absolute;
  left: 0;
  top: 38px;
}

.checkbox-details-input:checked ~ .checkbox-details-container {
  display: block;
}
